* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
	display: block;
}

body {
	background-color: #3a3333;
	background-image: linear-gradient(rgba(175, 67, 37, 0.71), rgba(201, 23, 90, 0.81));
	margin: 32px 0;
	font-family: 'Ubuntu', sans-serif;
}

main,
footer {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#cabecalho {
	margin-bottom: 16px;
}

#logo_pqn {
	width: 160px;
	user-select: none;
	margin-left: auto;
	margin-right: auto;
}

.titulo, h1 {
	font-size: 70px;
	line-height: 1;
	text-align: center;
	color: #ffffff;
}

.container {
	color: rgb(255, 255, 255);
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}

.container p {
	margin-top: 30px;
	text-align: justify;
	line-height: 1.5;
}

footer {
	margin-top: 64px;
	margin-bottom: 64px;
}

.galeria {
	display: flex;
	gap: 32px;
	justify-content: center;
	margin-top: 48px;
	flex-wrap: wrap;
	max-width: 423px;
	margin-left: auto;
	margin-right: auto;
}

.botao_redes {
	display: block;
	padding: 20px;
	border-radius: 50%;
	background-color: #d9467b;
	transition: .3s;
}

.botao_redes:hover {
	background-color: #910f3f;
}

.logo_redes {
	width: 48px;
	color: white;
}

@media (max-width: 450px) {
	.container {
		font-size: 16px;
		padding: 0 1em;
	}
	.botao_redes {
		order: 2;
	}
	.tiktok {
		order: 0;
	}
	.twitch {
		order: 1;
	}
}

@media (max-width: 900px) {
	.container,
	footer {
		padding: 0 2em;
	}

	.titulo {
		font-size: 36px;
	}
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	src: url('../assets/fonts/Ubuntu-Regular.ttf');
}
