body {
  background-color: #3a3333;
  background-image: linear-gradient(
    rgba(175, 67, 37, 0.71),
    rgba(201, 23, 90, 0.81)
  );
  padding-bottom: 150px;
}

.logo_redes {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  margin: 8px;
  object-fit: fill;
}

.galeria {
  margin-top: 90px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-gap: 5px;
  user-select: none;
}

#retorno {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
}

a {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  margin-right: 15px;
}

.container {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 0 10em;
}

.container p {
  margin-top: 30px;
}

#logo_pqn {
  width: 160px;
  user-select: none;
}

#cabecalho {
  display: flex;
  padding: 0 1em;
  padding-top: 2em;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}

#texto_cabecalho {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 450px) {
  .container {
    font-size: 16px;
    padding: 0 1em;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 2em;
  }

  #cabecalho {
    flex-direction: column;
    column-gap: 0px;
  }

  #texto_cabecalho {
    font-size: 35px;
  }
}

@media (max-width: 1500px) {
  .container {
    padding: 0 3em;
  }
}
