/* BASE */
html {
  font-size: 16px;
}
body {
  margin: 0 1rem;
  max-width: 100vw;
  overflow-x: hidden;
}

hr {
  margin: 0;
  margin-top: 3rem;
  height: 3px;
  width: 11rem;
  
  background-color: var(--soberana-pink);
  border: 0;
}

h2 {
  position: relative;
  padding-left: 1.25rem;
  padding-top: 1rem;
  margin: 0 0 3rem 0;

  font-size: 2rem;
  font-family: Molot, sans-serif;
  letter-spacing: 0.15em;
  font-weight: 400;
  text-transform: uppercase;
}

h2::before {
  content: attr(data-reflection); 
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;

  opacity: 0.1;
  color: var(--soberana-orange);
  font-size: 3.5rem;
}

h3 {
  margin-bottom: 20px;

  font-family: Molot, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1;
  text-transform: uppercase;
}

section {
  margin-bottom: 4rem;
}

.container {
  background-color: var(--soberana-black);
  border: 3px solid var(--soberana-pink);
  color: #FFFFFF;
}

.full-width-container {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
}

.button {
  display: inline-block;
  cursor: pointer;

  background-color: #FFFFFF;
  padding: 10px 24px;
  border-radius: 2rem;
  border: 0;
  
  color: var(--soberana-pink);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

/* CARD */
@import "home/card";

/* BANNER */
@import "home/banner";

/* CREATORS and PROJECTS*/
section#projects,
section#creators {
  font-size: 16px;
  display: flex;
  gap: 0.8rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section#projects::-webkit-scrollbar,
section#creators::-webkit-scrollbar {
  display: none;
}

/* MAIL */
@import "home/mail";

/* MANIFESTO */
@import "home/manifesto";

/* FAQ */
@import "home/faq";

/* CONTACT */
@import "home/contact";

/* MEDIA QUERIES */
@import "home/media-queries";