.banner {
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: left;

  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner>h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.banner>a {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.banner>a>svg {
  font-size: 1.25em
}