<header>
  <a href="#"><h1><img src="images/logo.svg" alt="Logo Soberana">Soberana</h1></a>
  <nav>
    <ul>
      <li><a href="#creators-hr">
        <svg><use href="#fa-people-icon"></use></svg>
        Membros
      </a></li>
      <li><a href="#projects-hr">
        <svg><use href="#fa-book-icon"></use></svg>
        Projetos
      </a></li>
      <li><a href="#manifesto-hr">
        <svg><use href="#fa-scroll-icon"></use></svg>
        Manifesto
      </a></li>
      <li><a href="https://loja.soberana.tv">
        <svg><use href="#fa-shop-icon"></use></svg>
        Loja
      </a></li>
      <li>
        <a href="#faq-hr">
          <svg><use href="#fa-circle-question"></use></svg>
          FAQ
        </a>
      </li>
      <li><a href="#contact-hr">
        <svg><use href="#fa-mail-icon"></use></svg>
        Contato
      </a></li>
    </ul>
  </nav>
</header>
