<footer>
  <div class="wrapper flow">
    <ul  class="cluster footer__links" role="list">
          <li>
            <a href="#" class="nav__link">Artigos</a>
          </li>
          <li>
            <a href="#" class="nav__link">Projetos</a>
          </li>
          <li>
            <a href="#" class="nav__link">Loja</a>
          </li>
          <li>
            <a href="#" class="nav__link">Contato</a>
          </li>
        </ul>
        <img class="footer__logo" src="/images/logo-engrenagem.png" alt="">
  </div>
</footer>