#contact-container {
  padding-bottom: 2rem;
  color: white;
  position: relative;
}

#contact-container::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, transparent, var(--soberana-black) 10rem);
  height: calc(100% + 5rem);
  transform: translateY(-5rem);
}

#contact-container a.back-to-top {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 14px;
  color: var(--soberana-pink);
  text-decoration: none;
}

#contact-container p {
  font-size: 20px;
  margin-bottom: 1em;
}

#contact-container .grid-container {
  display: grid;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

#contact-container > .grid-container > .form {
  background-color: #0A0909;
  padding: 24px 1.5rem;
  align-self: flex-start;
}

#contact-container > .grid-container > .form > h3 {
  text-align: center;
}

#contact-container > .grid-container > .form button[type="submit"] {
  font-size: 14px;
}

#contact-container > .grid-container > .social-media > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  
  list-style-type: none;
  font-size: 14px;
}

#contact-container > .grid-container > .social-media a {  
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease;

  &:hover {
    cursor: pointer;
    color: var(--soberana-pink);
  }
}

#contact-container > .grid-container > .social-media a svg {
  font-size: 1.6em
}

fieldset {
  border: 1px solid #938F99;
  border-radius: 4px;
  margin-bottom: 10px;
}

legend {
  font-size: 14px;
  margin-left: 15px;
  color: #CAC4D0;
  padding: 0 4px;
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 16px;
  border: none;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  background-color: transparent;
  width: 95%;
}

::placeholder {
  font-weight: 400;
  color: #E6E1E5;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
  padding-top: 12px;
}