section#faq {
  max-width: 800px;
  margin: auto;
}

section#faq details {
  border: 1px solid #FFFFFF;
  font-size: 16px;
  margin-bottom: 1em;
  transition: all 300ms ease;

  &:hover {
    cursor: pointer;
    color: var(--soberana-pink);
  }

  p {
    color: #FFFFFF;
  }
}

section#faq details summary {
  list-style-type: none;
  padding: 1em;
  font-weight: 500;
  position: relative;
}
section#faq details summary:after {
  content: "";
  position: absolute;
  right: 1em;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  box-sizing: border-box;
  transform: translateY(25%) rotate(45deg);
}

section#faq details[open] summary:after {
  border-right: 0;
  border-bottom: 0;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  transform: translateY(75%) rotate(45deg);
}

section#faq details[open] summary {
  border-bottom: 1px solid #FFFFFF;
}

section#faq details p {
  padding: 1em;
}
