section#projects,
section#creators {
  font-size: 16px;
  display: flex;
  gap: 0.8rem;
  overflow-x: scroll;
  padding-bottom: 0.25rem;
  cursor: grab;
}

section#creators::-webkit-scrollbar, section#projects::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

section#creators::-webkit-scrollbar-thumb, section#projects::-webkit-scrollbar-thumb {
  background-color: var(--soberana-pink);
  border-radius: 4px;
}

#projects {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  overflow-x: visible;
  justify-content: center;
  gap: max(16px, 2vw) !important;
  /* forces the cursor to act normal. */
  cursor: auto !important;
}

#projects .social-buttons {
    justify-content: center;

}
#projects .social-buttons a {
    font-size: large;
    box-shadow: 4px 4px 10px black;
}
