<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soberana</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!-- Boxicons -->
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
  {% block styles %} {% endblock %}
</head>

<body>
  <div class="app-container">
    {% block content %} {% endblock %}
  </div>
</body>

</html>
