{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block styles %}
<link rel="stylesheet" href="{{ get_url(path="home.css") }}">
{% include "partials/matomo.html" %}
{% endblock styles %}


{% block content %}

{% include "partials/header.html" %}

<main>
  <!-- BANNER -->
  <div class="banner full-width-container">
    <strong>Coletivo marxista-leninista.</strong>
    <ul class="button-list">
      <li>
        <a target="_blank" href="{{section.extra.discord}}" class="button button-with-icon">
          <svg><use xlink:href="#fa-discord-icon"></use></svg>
          Junte-se no Discord
        </a>
      </li>
      <li>
        <a target="_blank" href={{section.extra.apoiase}} class="button button-with-icon button-secondary">
          <svg><use xlink:href="#fa-hand-holding-heart"></use></svg>
          Apoie o coletivo
        </a>
      </li>
    </ul>
  </div>
  <!-- CREATORS -->
  <hr id="creators-hr">
  <h2 data-reflection="Criadores">Criadores</h2>
  <section id="creators">
    {% set creators = load_data(path="@/home/creators.json") %}
    {% for c in creators %}
      {{ macros::creator_card(name=c.name, links=c.links, image=c.image, tags=c.tags, pronouns=c.pronouns) }}
    {% endfor %}
  </section>

  <!-- PROJETOS -->
  <hr id="projects-hr">
  <h2 data-reflection="Projetos">Projetos</h2>
  <section id="projects">
    {% set projects = load_data(path="@/home/projects.json") %}
    {% for p in projects %}
      {{ macros::project_card(title=p.title, image=p.image, tags=p.tags, link=p.link) }}
    {% endfor %}
  </section>

  <!-- MANIFESTO -->
  <hr id="manifesto-hr">
  <h2 data-reflection="Manifesto">Manifesto</h2>
  <section id="manifesto" class="container">
    <p>
      A Soberana é um coletivo marxista-leninista que atua na disputa pela consciência política dos trabalhadores na internet. Dado o crescimento do acesso à internet via celulares no cotidiano da classe trabalhadora, julgamos necessário ocupar os espaços virtuais mais utilizados.
    </p>
    <p>
      Nossa fundação parte do entendimento que a esmagadora maioria do conteúdo disponível na internet, seja abertamente político ou não, é tomado por linhas reacionárias. Os motivos que culminaram nessa realidade são diversos e complexos, derivando tanto dos monopólios das “Big Techs”, quanto das agências de telecomunicações. Essas empresas determinam a qualidade e acessibilidade da internet em território nacional, ao mesmo tempo que controlam os algoritmos dos sites que acessamos.
    </p>
    <p class="retract">As alas à direita, aproveitando-se da colaboração dessas companhias, frequentemente difundem seu discurso com métodos escusos e generosamente financiados. Dessa forma, os algoritmos são apreendidos pelo conservadorismo do senso comum, o liberalismo que luta com unhas e dentes contra a dignidade da classe trabalhadora e o negacionismo calcado nos interesses da burguesia, frequentemente sob a vista grossa da legislação.</p>

    <p class="retract">Boa parte da esquerda que produz conteúdo para a internet age somente pela perspectiva de agitação e propaganda. Apesar de entendermos a importância da agitprop, nós propomos ir além. Nosso projeto consiste em utilizar a internet para fomentar a organização dos trabalhadores, o avanço da consciência política, a divulgação e a capilarização do marxismo-leninismo no cotidiano de toda a classe.</p>

    <p class="retract">Dado o modelo de funcionamento das redes, sabemos que a qualquer momento podemos ser banidos e/ou bloqueados das plataformas que utilizamos. Por isso, julgamos necessária a construção de uma rede sólida de camaradas, a fim de garantir a continuidade das nossas atividades, para além de qualquer única rede social.</p>

    <p class="retract">Para concretizar esse projeto criamos espaços de discussão, diálogo e formação política. Entretanto, o objetivo é não nos restringirmos ao conteúdo acadêmico, explorando formas de entretenimento político mais adequadas aos potenciais da internet. Produzimos de maneira cotidiana transmissões ao vivo, vídeos, textos e ilustrações, priorizando nossa proximidade com a comunidade.</p>

    <p class="retract">Somos criadores de conteúdo com trabalhos variados sob a perspectiva de disseminar o discurso comunista nas plataformas virtuais. Alinhando-se a isso, promovemos o contato direto com a base de trabalhadores que consomem cotidianamente conteúdo na internet.</p>

    <button class="button" type="button" onclick="manifesto.classList.toggle('open')">
      <span class="less">
        <svg><use xlink:href="#radix-triangle-up-icon"></use></svg>
        Ver menos
      </span>
      <span class="more">
        <svg><use xlink:href="#radix-triangle-down-icon"></use></svg>
        Ver mais
      </span>
    </button>
  </section>

  <!-- CONTRIBUA -->
  <hr id="contribua-hr">
  <h2 data-reflection="contribua">Contribua</h2>
  <section id="contribua">
    {#👇 solucao melhor do que embedar o vídeo do instagram e pesar o site #}
    <div class="video-container">
      <video src="/videos/financiamento-coletivo.mp4" controls preload="metadata" poster="/videos/thumb-financiamento-coletivo.jpg"></video>
    </div>
    <p>Com seu apoio, podemos continuar produzindo conteúdos cada vez melhores, realizar o congresso anual e expandir nossos projetos. Cada contribuição nos ajuda a alcançar mais pessoas e a fortalecer nossa luta para difundir o marxismo-leninismo.</p>
    <a target="_blank" href={{section.extra.apoiase}} class="button button-with-icon ">
      <svg><use xlink:href="#fa-hand-holding-heart"></use></svg>
      Apoie o coletivo
    </a>
  </section>
  
  <!-- FAQ -->
  <hr id="faq-hr">
  <h2 data-reflection="FAQ">FAQ</h2>
  <section id="faq">
    <details class="container">
      <summary>Qual objetivo do coletivo?</summary>
      <p>Nosso objetivo como coletivo Soberana é atuar na disputa pela consciência política dos trabalhadores na internet, ocupando os espaços virtuais mais utilizados. Estamos determinados a combater a predominância de conteúdo político reacionário que influencia a internet, manipulado por monopólios de empresas de tecnologia e agências de telecomunicações. Utilizaremos a internet como uma ferramenta para fomentar a organização dos trabalhadores, impulsionar o avanço da consciência política e difundir o marxismo-leninismo para toda a classe trabalhadora.</p>
    </details>
    <details class="container">
      <summary>O que é socialismo?</summary>
      <p>Do ponto de vista marxista-leninista, o socialismo é um sistema socioeconômico que busca a superação das contradições e injustiças presentes no sistema capitalista. É uma etapa de transição entre o capitalismo e o comunismo.</p>
      <p>No socialismo, a classe trabalhadora se torna a classe dominante, assumindo o controle dos meios de produção e eliminando a exploração do trabalho. A propriedade privada dos meios de produção é substituída pela propriedade social, visando o benefício de toda a sociedade e não apenas de uma classe privilegiada. Isso permite uma distribuição mais justa da riqueza, com o objetivo de eliminar as desigualdades sociais e proporcionar condições dignas de vida para todos.</p>
    </details>
    <details class="container">
      <summary>Como posso apoiar o coletivo?</summary>
      <p>Para apoiar o coletivo Soberana, a melhor forma é acompanhar nossas atividades através das redes sociais e participar de nosso <a href={{section.extra.discord}} target="_blank" rel="noopener noreferer">Discord</a>. Nossas redes sociais são espaços onde compartilhamos conteúdos, transmissões ao vivo, vídeos, textos, ilustrações e podcasts com o objetivo de promover a conscientização política e a disseminação do discurso comunista. Seguir nossas páginas e perfis nas redes sociais nos ajudará a ampliar nosso alcance e a compartilhar informações importantes.</p>
      <p>Caso você queira disponibilizar seu trabalho para o coletivo, pedimos que preencha o <a href={{section.extra.colab}} target="_blank" rel="noopener noreferer">Formulário de Colaboração</a>. Sempre consultamos o formulário tanto para recrutamentos quanto para colaborações eventuais.</p>
      <p>Além de acompanhar nossas redes sociais e participar de nosso Discord, outra forma de apoiar o coletivo Soberana é através da plataforma <a href={{section.extra.apoiase}} target="_blank" rel="noopener noreferer">Apoia.se</a>. Nessa plataforma, você tem a oportunidade de fazer contribuições financeiras mensais para nos ajudar a manter nossas atividades e fortalecer nossa atuação online. Se você acredita em nossa causa e deseja contribuir de forma mais direta, essa é uma excelente opção para fornecer suporte financeiro contínuo ao coletivo.</p>
      <p>Também temos uma <a href="https://loja.soberana.tv">loja online</a> onde disponibilizamos produtos relacionados ao coletivo Soberana, como camisetas, adesivos, bonés e outros materiais. Ao adquirir esses produtos, você estará apoiando financeiramente o coletivo e também poderá disseminar nossa mensagem ao utilizar esses itens no seu dia a dia. Além disso, ao adquirir produtos da nossa loja, você estará contribuindo para a visibilidade do coletivo e para a divulgação do discurso comunista nas plataformas virtuais.</p>
    </details>
  </section>
  
</main>
<!-- CONTACT -->
<footer id="contact-container">
  <hr id="contact-hr">
  <h2 data-reflection="Contato">Contato</h2>
  <section class="grid-container">
    <div class="text">
      <p>Entre em contato conosco para possíveis parcerias, tirar dúvidas ou apenas debater e trocar uma ideia.</p>
      <p>Utilizamos o Discord como ferramenta principal de comunicação, acesse nosso servidor clicando no ícone abaixo e junte-se à nossa comunidade.</p>
    </div>
    <div class="container form">
      <h3>Entre em contato por e-mail</h3>

      <form onSubmit="handleSubmitEmail()" id="formulario" action="mailto:{{section.extra.email}}">
        <fieldset>
          <legend>Para:</legend>
          <input type="text" id="email" disabed value="sou.soberana.tv@gmail.com" readonly><br>
        </fieldset>
        <fieldset>
          <legend>Nome</legend>
          <input type="text" id="name" name="first_name" placeholder="Digite seu nome" required autocomplete="off"><br>
        </fieldset>
        <fieldset>
          <legend>Assunto</legend>
          <input type="text" id="subject" name="subject" placeholder="Digite o assunto do e-mail" required autocomplete="off"><br>
        </fieldset>
        <fieldset>
          <legend>Mensagem</legend>
          <textarea id="message" name="body" placeholder="Digite a sua mensagem" required autocomplete="off"></textarea>
        </fieldset>
        <p id="avisoForm">Falha ao abrir seu aplicativo de email. Mande um e-mail para <strong>{{section.extra.email}}</strong></p>
        <button id="submitBtn" class="button" type="submit">Enviar e-mail</button>
      </form>
    </div>
    <div class="social-media">
      <h3>Nossas redes:</h3>
      <ul>
        <li>
          <a href="{{section.extra.discord}}" target="_blank">
            <svg><use xlink:href="#fa-discord-icon"></use></svg>
            Discord
          </a>
        </li>
        <li>
          <a href="{{section.extra.tiktok}}" target="_blank">
            <svg><use xlink:href="#fa-tiktok-icon"></use></svg>
            TikTok
          </a>
        </li>
        <li>
          <a href="{{section.extra.bluesky}}" target="_blank">
            <svg><use xlink:href="#fa-twitter-icon"></use></svg>
            Bluesky
          </a>
        </li>
        <li>
          <a href="{{section.extra.youtube}}" target="_blank">
            <svg><use xlink:href="#fa-youtube-icon"></use></svg>
            Youtube
          </a>
        </li>
        <li>
          <a href="{{section.extra.twitch}}" target="_blank">
            <svg><use xlink:href="#fa-twitch-icon"></use></svg>
            Twitch
          </a>
        </li>
        <li>
          <a href="{{section.extra.instagram}}" target="_blank">
            <svg><use xlink:href="#fa-instagram-icon"></use></svg>
            Instagram
          </a>
        </li>
      </ul>
    </div>
  </section>
  <a href="#" class="back-to-top">
    <svg><use xlink:href="#radix-triangle-up-icon"></use></svg>
    Voltar para o topo
  </a>
</footer>
{% endblock content %}

{% block scripts %}

{% include "partials/metadata.html"%}

<!-- Email form -->
<script type="text/javascript" defer>
  const MAIL_CLIENT_TIMEOUT = 3000;
  const handleSubmitEmail = () => {
    const submitBtn = document.getElementById("submitBtn");
    submitBtn.disabled = true;
    setTimeout(() => {
      document.getElementById("avisoForm").style.display = "block";
      submitBtn.disabled = false;
    }, MAIL_CLIENT_TIMEOUT);
  };
</script>

<!-- Scrollables -->
<script type="text/javascript" defer>

const scrollables = ['creators', 'projects']

scrollables.forEach((scrollable) => {
  const selectedSection = document.querySelector(`#${scrollable}`);
  let isDown = false;
  let startX;
  let scrollLeft;

  selectedSection.addEventListener('mousedown', (e) => {
    isDown = true;
    selectedSection.classList.add('active');
    startX = e.pageX - selectedSection.offsetLeft;
    scrollLeft = selectedSection.scrollLeft;
  });
  selectedSection.addEventListener('mouseleave', () => {
    isDown = false;
    selectedSection.classList.remove('active');
  });
  selectedSection.addEventListener('mouseup', () => {
    isDown = false;
    selectedSection.classList.remove('active');
  });
  selectedSection.addEventListener('mousemove', (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - selectedSection.offsetLeft;
    const walk = (x - startX) * 2; //scroll-fast
    selectedSection.scrollLeft = scrollLeft - walk;
  });
})
</script>
{% endblock scripts %}
