{% macro creator_card(name, links, image, tags, pronouns) %}
<div class="creator-card container">
  <div class="heading">
    <p>{{name}}</p>
    <a href={{links}} target="_blank" rel="noopener noreferrer">{{links}}</a>
  </div>
  <img src="{{image}}" />
  <div class="description-container">
    <p>{{tags}}</p>
  </div>
  <div class="social-buttons">
    {% for pronoun in pronouns %}
    <p>{{pronoun}}</p>
    {% endfor %}
  </div>
</div>
{% endmacro creator_card %}

{% macro project_card(title, image, tags, link) %}
<div class="project-card container">
  <img src="{{image}}" />
  <div class="description-container">
    <p>{{title}}</p>
    <p>{{tags}}</p>
  </div>
  <div class="social-buttons">
    <a href="{{link.href}}" class="button">{{link.label}}</a>
  </div>
</div>
{% endmacro project_card %}